@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  /* background: url('../img/bg.jpg') fixed; */
  background-color: #f5f5f5;
}

#root {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Roboto', sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Roboto', sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.main-panel {
  width: 50%;
  min-width: 500px;
  box-shadow: 0 2px 5px rgb(0 0 0/30%);
}

.todos-header {
  font: 9vw 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgba(175, 47, 47, 0.15);
}

.input-field {
  width: 90%;
  height: 8.5vh;
  box-sizing: border-box;
  border: none;
  padding: 2% 2% 2% 0;
  background: rgba(0, 0, 0, 0.003);
  font-size: 150%;
}

.input-field::placeholder {
  color: rgba(182, 182, 182, 0.603);
  font-style: italic;
}

.input-field:focus {
  outline: none;
}

.create-todo-panel {
  width: 50%;
  min-width: 500px;
  display: flex;
}

.toggle-all {
  margin-left: 1%;
  width: 10%;
  font-size: 150%;
  text-align: center;
  cursor: pointer;
  transform: rotate(90deg);
  align-self: center;
}

.toggle-all.completed {
  opacity: 0.3;
}

/* .change-edges {
  border-radius: 15px 15px 0 0;
} */

.todo-list {
  width: 50%;
  min-width: 500px;

  font-size: 2vw;
  padding: 0 0 1vh 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.003);
  border-bottom: 1px solid rgba(119, 119, 119, 0.13);
}

.todos-item {
  display: flex;
  height: 8.5vh;

  justify-content: space-between;
  align-items: center;
  margin: 0;
  border-top: 1px solid rgba(119, 119, 119, 0.13);
}

.todo-title {
  width: 80%;
  color: #4d4d4d;
}

.todo-list-footer {
  width: 50%;
  height: 7vh;
  min-width: 500px;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: 0 1px 0 rgb(0 0 0/30%), 0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgb(0 0 0 / 30%), 0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgb(0 0 0 / 30%);
  display: flex;
  justify-content: space-around;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.todo-title:focus {
  outline: none;
}

.delete-item {
  transition: color 0.2s ease-out;
  color: #cc9a9a;
  font-size: 3vw;
  margin-right: 3%;
}

.delete-item:hover {
  color: #b94848;
  cursor: pointer;
}

.clear-completed-button {
  text-align: end;
  border: none;
  color: #777;
  background-color: rgba(255, 255, 255, 0);
}

.clear-completed-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.invalid-input-message {
  position: relative;
  top: -3vh;
  height: 1vh;
  color: rgb(211, 1, 1);
  font-size: 1.5vw;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.712);
}

.invalid-edit {
  border-bottom: 1px solid rgb(211, 1, 1);
}

.counter {
  color: #777;
  margin-left: 10%;
}

.filters {
  display: flex;
  justify-content: space-around;
  color: #777;
}

.status {
  min-width: 40px;
  min-height: 40px;
  margin: 0 0.5vw;
  cursor: pointer;
}

.status.active {
  background: url('../img/active.svg') center / 40px no-repeat;
}

.status.completed {
  background: url('../img/completed.svg') center / 40px no-repeat;
}

.todo-completed {
  text-decoration: line-through #d9d9d9;
  color: #d9d9d9;
}

.filter-button {
  cursor: pointer;
  opacity: 1;
  padding: 2px;
  border: 1px solid rgba(180, 100, 100, 0);

  text-transform: capitalize;
}

.filter-button:hover {
  border: 1px solid rgba(180, 100, 100, 0.137);
  border-radius: 3px;
}

.auth-panel {
  width: 30vw;
  height: 30vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 7fr;
  grid-template-areas:
    'logIn signUp'
    'form form';

  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 15px;
}

.auth-panel-button {
  text-align: center;
  padding: 1vh;
  border-bottom: 1px dashed rgb(128, 128, 128);

  cursor: pointer;
}

.auth-panel-button:hover {
  color: rgb(99, 35, 78);
}

.auth-form {
  grid-area: form;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.auth-input {
  margin: 0 0 0 0;
  width: 25vw;
  outline: none;
  background: rgba(255, 255, 255, 0);

  border: 0;
  border-bottom: 1px solid rgb(128, 128, 128);
}

.user-block {
  position: fixed;
  left: 5vw;
  top: 5vh;
  color: #fff;
}

.log-out-button {
  text-decoration: underline;
  cursor: pointer;
}

.submit-btn {
  width: 10vw;
  align-self: center;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
}

.auth-error-message {
  font-size: 1vw;
  color: rgb(211, 1, 1);
  text-align: center;
}

.invalid-input {
  border-bottom: 1px solid rgb(211, 1, 1);
}

.page-buttons {
  position: fixed;
  min-width: 50%;
  display: flex;
  justify-content: center;
  bottom: 3vh;
}

.page-button {
  width: 2vw;
  height: 2vw;
  margin: 0 0.2vw;
  border-radius: 50%;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;

  background: rgba(255, 255, 255, 0.603);
  cursor: pointer;
}

.current {
  border: 1px solid rgba(175, 47, 47, 0.2);
  border-radius: 3px;
}

.hidden {
  opacity: 0;
}
